.register{
    text-align: center;
}
/*
.register p{
    color: #aaa;
}

.register form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register span{
    font-size: 1.3rem;
    margin: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.register input{
    width: 100%;
    padding: 1rem;
    margin: 0.5rem;
}
*/